*{
    margin-bottom: 10px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

figcaption{
    font-size: 30px;
    color:red;

}

input{
    width:200px;
}
